
#itp-verifier-all {
    position: relative;
    width: auto;
}

#itp-verifier-all .itp-verifier-emails {
    display: inline-block;
    width: 600px;
}

#itp-verifier-all .itp-verifier-input {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    max-width: 700px;
}

#itp-verifier-all .itp-verifier-button {
    display: inline-block;
}

#itp-verifier-all .itp-verifier-button-del input {
    background: #f05378;
    color: #fff;
}
